.createTaskBlur {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.modal {
    font-size: 13px;
    font-weight: 500;
    margin: auto;
    height: 70vh;
    width: 70vw;
    background-color: cornsilk;
    box-shadow: 1px 1px 20px #e30d32;

}